In [1]:
import pandas as pd
import numpy as np

In [2]:
# Read all the datasets
df1 = pd.read_csv("./dataset/gossipcop_real.csv", usecols = ['title'])
df2 = pd.read_csv("./dataset/politifact_real.csv", usecols = ['title'])
df3 = pd.read_csv("./dataset/gossipcop_fake.csv", usecols = ['title'])
df4 = pd.read_csv("./dataset/politifact_fake.csv", usecols = ['title'])

In [3]:
# Combine real and fake data into separate datasets
df_real = pd.concat([df1, df2], axis=0)
df_fake = pd.concat([df3, df4], axis=0)

In [4]:
# Check for empty and NA values
df_real[df_real.loc[:,:] == ' '] = np.NaN
print(df_real.isna().sum())
df_fake[df_fake.loc[:,:] == ' '] = np.NaN
print(df_fake.isna().sum())

title    0
dtype: int64
title    0
dtype: int64

In [5]:
# Print the length of both the datasets
print(len(df_real))
print(len(df_fake))

17441
5755

In [6]:
# Remove sentences having less than 6 words
df_real = df_real[~df_real.title.str.count('\s+').lt(5)]

# Add label column for real news
df_real['label'] = 0
df_real

                                                 title  label
0    Teen Mom Star Jenelle Evans' Wedding Dress Is ...      0
1    Kylie Jenner refusing to discuss Tyga on Life ...      0
3    I Tried Kim Kardashian's Butt Workout & Am For...      0
4    Celine Dion donates concert proceeds to Vegas ...      0
5    Chris Evans, Millie Bobby Brown, Snoop Dogg an...      0
..                                                 ...    ...
617  The Obameter: Introduce a comprehensive immigr...      0
618  Trump asking Congress, not Mexico, to pay for ...      0
619  Flake: “Religious tests should have no place i...      0
621  deputy director of national health statistics ...      0
622  Romneys ProLife Conversion Myth or Reality Jun...      0

[16159 rows x 2 columns]

In [7]:
# Remove sentences having less than 6 words
df_fake = df_fake[~df_fake.title.str.count('\s+').lt(5)]

# Add label column for fake news
df_fake['label'] = 1
df_fake

                                                 title  label
0    Did Miley Cyrus and Liam Hemsworth secretly ge...      1
1    Paris Jackson & Cara Delevingne Enjoy Night Ou...      1
2    Celebrities Join Tax March in Protest of Donal...      1
3    Cindy Crawford's daughter Kaia Gerber wears a ...      1
4        Full List of 2018 Oscar Nominations – Variety      1
..                                                 ...    ...
426  BUSTED: Russian Mansions Obama Seized Were Mea...      1
427        Who is affected by the government shutdown?      1
428  Lindsey Graham Threatens To Convert To Democra...      1
429  ELECTORAL COLLEGE ELECTOR COMMITS SUICIDE TO A...      1
430  Sarah Palin Calls To Boycott Mall Of America B...      1

[5286 rows x 2 columns]

In [9]:
# TODO: Deal with class imbalance

In [8]:
# Combine both real and fake news dataset
df = pd.concat([df_real, df_fake])

#Shuffle the final dataset
df = df.sample(frac=1)
df

                                                   title  label
16607  Kim Richards Opens Up About What's Helping Her...      0
2271   Corinne Olympios on 'Bachelor in Paradise' sca...      0
95     BOMBSHELL: COMEY KNEW MURDERED DNC STAFFER, SE...      1
7584   Andrew Garfield on His Sexuality: 'I Have an O...      0
12349  Sia, Zoe Saldana and Julianne Moore Team Up to...      0
...                                                  ...    ...
11229          Kesha recalls battle with eating disorder      0
8457   Justin Bieber Wants to Be With Selena Gomez Bu...      0
1398   Blake Shelton Falls on Stage and It May Just B...      0
5525         Abby Lee Miller May Get Out of Prison Early      0
370    Below Deck Med Season 3 Trailer Promises Fires...      0

[21445 rows x 2 columns]